@media (max-width: 1199px) {
  .hero__img {
    background-size: 500px 450px;
    background-position: right center;
  }

  .advantages__img {
    background-size: 130px 117px;
    background-position: right center;
  }
}

@media (max-width: 991px) {

  .hero__content {
    padding-bottom: 135px;
  }

  .title {
    margin-bottom: 16px;
    font-size: 50px;
  }

  .hero__descr {
    margin: 0;
    margin-bottom: 62px;
  }

  .hero__img {
    background-image: url('../image/hero__img-690.svg');
    background-size: 330px 351px;
    background-position: right 118px;
  }

  .advantages__img {
    background-size: 211px 187px;
    background-position: right 24px;
  }

  .advantages__top {
    margin-bottom: 23px;
  }

  .advantages__item {
    padding: 90px 0 0;
    background-position: left top;
  }

  .teachers {
    padding-top: 75px;
    padding-bottom: 27px;
  }

  .teachers__item {
    margin-bottom: 22px;
  }

  .courses__item {
    margin-bottom: 29px;
  }

  .courses__time {
    right: 10px;
  }

  .courses__btn {
    padding: 20px 56px;
  }
}

@media (max-width: 767px) {

  .hero {
    background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  }

  .header__content {
    flex-direction: column;
  }

  .header__logo {
    margin: 0 auto 32px;
  }

  .hero__content {
    padding: 77px 15px 135px;
  }

  .hero__descr {
    max-width: 345px;
  }

  .hero__img {
    display: none;
  }

  .advantages {
    padding-bottom: 55px;
  }

  .advantages__img {
    background-size: 150px 134px;
    background-position: right top;
  }

  .teachers {
    padding-bottom: 50px;
  }

  .courses__content {
    padding-top: 28px;
    padding-right: 22px;
  }

  .courses__text {
    margin-bottom: 34px;
  }

  .courses__time {
    top: 11px;
    right: 10px;
  }

  .courses__subtitle {
    line-height: 23px;
  }

  .courses__btn {
    padding: 20.5px 48px;
  }
}

@media (max-width: 575px) {

  .header {
    position: relative;
  }

  .header__content {
    flex-direction: row;
    padding: 26px 17px 26px 15px;
  }

  .header__logo {
    width: 72px;
    height: 16px;
    margin: 0 auto 0 0;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 77px 15px;
    background-color: #2f2c45;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 56px;
  }

  .burger {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    z-index: 1500;
    color: var(--color-white);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 5px;
  }

  .burger__line:nth-child(3) {
    bottom: 5px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    width: 24px;
    left: 9%;
    top: 44%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    left: 9%;
    top: 44%;
    width: 24px;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .hero__content {
    padding: 51px 15px 50px;
  }

  .title {
    margin-bottom: 4px;
    font-size: 30px;
  }

  .hero__descr {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 21px;
  }

  .hero__btn {
    padding: 20.5px 53.5px;
    font-size: 16px;
    line-height: 19px;
  }

  .advantages {
    padding-top: 49px;
    padding-bottom: 34px;
  }

  .advantages__top {
    margin-bottom: 9px;
  }

  .advantages__img {
    display: none;
  }

  .advantages__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 26px;
  }

  .advantages__item {
    max-width: 350px;
    margin: 0 auto 2px;
    padding: 16px 0 16px 109px;
    background-position: left center;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 26px;
  }

  .teachers__title {
    max-width: 290px;
    margin: 0 auto 27px;
    font-size: 20px;
    line-height: 20px;
  }

  .teachers__item {
    max-width: 290px;
    margin: 0 auto 22px;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 19px;
  }

  .courses__title {
    max-width: 290px;
    margin: 0 auto 27px;
    font-size: 20px;
    line-height: 20px;
  }

  .courses__item {
    max-width: 290px;
    margin: 0 auto 29px;
  }

  .courses__content {
    min-height: 470px;
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 31px;
  }

  /* .courses__text {
    margin-bottom: 34px;
  } */

  .courses__subtitle {
    margin-bottom: 9px;
  }

  .courses__btn {
    padding: 20.5px 55.5px;
  }
}



